* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", sans-serif;
}

/* ===== Fundo estilo iOS ===== */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  linear-gradient(120deg, rgba(3, 3, 76, 0.85), rgb(63, 8, 145))
}

/* ===== Card Login ===== */
.login-container {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 40px;
    width: 100%;
    max-width: 350px;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
    color: white;
}

/* ===== Título ===== */
.login-container h2 {
    margin-bottom: 25px;
    font-weight: 500;
}

/* ===== Inputs ===== */
.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 14px;
    border-radius: 15px;
    border: none;
    outline: none;
    font-size: 14px;
    background: rgba(255,255,255,0.2);
    color: white;
    transition: 0.3s;
}

.input-group input::placeholder {
    color: rgba(255,255,255,0.7);
}

.input-group input:focus {
    background: rgba(255,255,255,0.3);
}

/* ===== Botão ===== */
button {
    width: 100%;
    padding: 14px;
    border-radius: 15px;
    border: none;
    background: white;
    color: #764ba2;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #f1f1f1;
}

/* ===== Links ===== */
.links {
    margin-top: 15px;
    font-size: 13px;
}

.links a {
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.links a:hover {
    opacity: 1;
}

/* ===== Responsivo ===== */
@media (max-width: 400px) {
    .login-container {
        padding: 30px;
    }
}


/* ===== Barra de Progresso ===== */
.progress-container {
    width: 100%;
    height: 5px;
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
    margin-top: 15px;
    overflow: hidden;
    display: none; /* começa escondida */
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, #8000ff, #ffffff);
    transition: width 0.1s linear;
}