<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet" href="/static/paginalogin.css">

</head>

<body>

    <div class="login-container">

        <h2>Entrar na sua conta</h2>

        <form action="/login" method="POST">

            <input type="email" name="gmail">

            <input type="password" name="senha">

            <button type="submit">
                Entrar
            </button>

        </form>

        <div class="links">
            <p><a href="#">Esqueceu a senha?</a></p>
        </div>

        <script src="/static/script.js"></script>

    </div>

</body>

</html>