<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="/static/paginalogin.css">
    <title>Login</title>

</head>

<div class="login-container">

    <h2>Entrar na sua conta</h2>

    <form method="POST">

        <div class="input-group">
            <input type="email" name="email" placeholder="E-mail">
        </div>

        <div class="input-group">
            <input type="password" name="senha" placeholder="Senha">
        </div>

        <button type="submit">Entrar</button>

    </form>

    <div class="links">
        <p><a href="#">Esqueceu a senha?</a></p>
    </div>

</div>


</body>

</html>